@page "/measurements"

@inherits NewsScoreBase

@using System.ComponentModel.DataAnnotations

<MudGrid Class="mb-2">
    <MudItem xs="12">
        <h1> News Score</h1>
    </MudItem>
</MudGrid>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    @foreach (var measurement in model)
                    {
                        <MudNumericField Immediate="true" Min="0" Variant="Variant.Outlined" Label="@Enum.GetName(typeof(MeasurementType),measurement.MeasurementType)"
                                     @bind-Value="measurement.Value" For="@(() => measurement.Value)" />
                    }

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="isProcessing" Class="ml-auto">
                        @if (isProcessing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        }
                        <MudText>Calculate</MudText>
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Summary</MudText>
                @if (success)
                {
                    <MudText Color="Color.Success">@score</MudText>
                }
                else
                {
                    <MudText Color="@Color.Error">
                        @errorMessage
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body2" Align="Align.Center">
                Fill out the form correctly to see the NEWS score.
            </MudText>
        </MudItem>
    </MudGrid>
</EditForm>
